{% extends 'base/base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <h1>Login</h1>
    <p>Seja bem-vindo(a) novamente. Faça login para acessar sua conta e poder fazer as configurações no seu ambiente.</p>
    <form method="post" autocomplete="on">
        {% csrf_token %}
        <div class="campo">
            <span class="material-symbols-outlined">
                person
            </span>
            {{ form.nome }}
        </div>
        <div class="campo">
            <span class="material-symbols-outlined">
                Mail
            </span>
            {{ form.email }}
        </div>
        <div class="campo">
            <span class="material-symbols-outlined">
                vpn_key
            </span>
            {{ form.senha }}
        </div>
        <div class="campo">
            <span class="material-symbols-outlined">
                123
            </span>
            {{ form.idade }}
        </div>
        <input type="submit" value="Entrar">
        <a href="{% url 'base:esqueci' %}" class="botao">Esqueci a senha <span class="material-symbols-outlined">mail</span> </a>
    </form>
{% endblock %}